# Main App
APP_NAME="APi"
APP_ENV="development"
APP_PORT="5000"
APP_URL="http://localhost:5000"

# Database Connection
DEV_DB_HOST="localhost"
DEV_DB_PORT=3306
DEV_DB_NAME=
DEV_DB_USER=
DEV_DB_PASSWORD=

CI_DB_HOST="localhost"
CI_DB_PORT=3306
CI_DB_NAME=
CI_DB_USER=
CI_DB_PASSWORD=

PROD_DB_HOST="localhost"
PROD_DB_PORT=3306
PROD_DB_NAME=
PROD_DB_USER=
PROD_DB_PASSWORD=

# JWT
JWT_TOKEN_SECRET="secret"
JWT_TOKEN_EXPIRES_IN="1d"